<!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            
            <div class="row g-4">
                <h1 class="">Nos Produits</h1>
                <div class="col-md-4 col-lg-4 col-xl-3" *ngFor="let product of getPaginatedItems()">
                    <div class="rounded position-relative fruite-item" >
                        <div class="fruite-img">
                            <img [src]="'http://localhost:8000/storage/' + product.image_url" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                            style="top: 10px; left: 10px;">
                            {{categorie}}
                        </div>
                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                            <h4>{{product.nom}}</h4>
                            <p> {{product.description}} </p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0"> {{product.prix}} FCFA</p>
                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                        class="fa fa-shopping-bag me-2 text-primary"></i> Ajouter au panier </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="pagination d-flex justify-content-center mt-5">
                         <!-- Pagination Controls -->
                        <nav *ngIf="totalPages > 1">
                            <ul class="pagination justify-content-center">
                            <li class="page-item" [class.disabled]="currentPage === 1">
                                <button class="page-link" (click)="goToPage(currentPage - 1)">Précédent</button>
                            </li>

                            <li
                                class="page-item"
                                *ngFor="let page of pages"
                                [class.active]="page === currentPage"
                            >
                                <button class="page-link" (click)="goToPage(page)">
                                {{ page }}
                                </button>
                            </li>

                            <li class="page-item" [class.disabled]="currentPage === totalPages">
                                <button class="page-link" (click)="goToPage(currentPage + 1)">Suivant</button>
                            </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Fruits Shop End-->