<div class="row">
    <div [ngClass]="showAdd? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 ">
                        Liste des produits
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="showPanel()">Ajouter</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3" *ngFor="let product of getPaginatedusers()">
                        <div class="card">
                            <img class="card-img-top" style="height: 12.125rem;" [src]="product.image_url" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">{{product.nom}}</h4>
                                <p class="card-text"> {{product.categorie.nom}} </p>
                                <p class="card-text"> {{product.prix}} FCFA</p>
                                <p class="card-text"> {{product.stock}} En stock</p>
                                <a class="btn btn-sm btn-primary" (click)="onEdit(product)">Modifier</a>
                                <a class="btn btn-sm btn-danger mx-2" (click)="onDelete(product)">Supprimer</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="showAdd">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        Nouveau Produit
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="closePanel()">Fermer</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="productForm">
                    <div class="row" >
                        <div class="col-6">
                            <label for="sku">Nom</label>
                            <input type="text" formControlName="nom" class="form-control">
                            <div *ngIf="productForm.get('nom')?.invalid && productForm.get('nom')?.touched" class="text-danger">
                                Le nom est requis.
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="sku">Prix</label>
                            <input type="number" step="any" formControlName="prix" class="form-control">
                            <div *ngIf="productForm.get('prix')?.invalid && productForm.get('prix')?.touched" class="text-danger">
                                Le prix est requis.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="sku">Stock</label>
                            <input type="number" formControlName="stock"class="form-control">
                            <div *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched" class="text-danger">
                                Le stock est requis.
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="sku">Category</label>
                            <select name="Category" formControlName="id_categorie" class="form-select">
                                <option *ngFor="let cate of categoryList" [value]="cate.id">{{cate.nom}}</option>
                            </select>
                            <div *ngIf="productForm.get('id_categorie')?.invalid && productForm.get('id_categorie')?.touched" class="text-danger">
                                La categorie est requise.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="sku">Image</label>
                            <input type="file" (change)="onFileSelected($event)" formControlName="image" class="form-control" accept="image/*">
                            <div *ngIf="productForm.get('image')?.invalid && productForm.get('image')?.touched" class="text-danger">
                                L'image est requise.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="sku">Description</label>
                            <textarea rows="4" type="text" formControlName="description" class="form-control"></textarea>
                            <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="text-danger">
                                La description est requise.
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-success"(click)="clear()">Netoyer</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" *ngIf="productsOjt.id === 0 || productsOjt.id === ''" (click)="onSave()">Creer le Produit</button>
                            <button class="btn btn-primary" *ngIf="productsOjt.id !== 0" (click)="onUpdate()">Modifier le Produit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
       <div class="col-12">
        <div class="pagination d-flex justify-content-center">
            <!-- Pagination Controls -->
            <nav *ngIf="totalPages > 1">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <button class="page-link" (click)="goToPage(currentPage - 1)">Précédent</button>
                    </li>
    
                    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
                        <button class="page-link" (click)="goToPage(page)">
                            {{ page }}
                        </button>
                    </li>
    
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <button class="page-link" (click)="goToPage(currentPage + 1)">Suivant</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>